<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="LogTest2.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
       
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
       
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  
  <connectionStrings>
    <add name="TradingEntities" connectionString="metadata=res://*/TradingEntityModel.csdl|res://*/TradingEntityModel.ssdl|res://*/TradingEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TRADING;Integrated Security=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TradingSolutions.Properties.Settings.ReportsConnectionString"
      connectionString="Data Source=.;Initial Catalog=TRADING;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TradingBLL.Properties.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=TRADING;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TradingSolutions.Properties.Settings.ConnectionString"
      connectionString="Data Source=.;Initial Catalog=TRADING;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>